# created by virtualenv automatically
lib
Scripts
bin 
__pycache__
hoja.pdf
pyvenv.cfg
FORMATOS-CV-APLICACION/FORMATOS-CV-APLICACION/~$PMSSA-01-CV AB-OS 2-.docx
FORMATOS-CV-APLICACION/FORMATOS-CV-APLICACION/~$PMSSA-01-CV AB-OS 2-.docx
